h1 {
		background-color: beige;
		color: blue;
		position: static;
		text-align: center;
}

h2 {
		color : green;
}

table {
	border: 1px solid blue;			
}

td {
	text-align: center;
}

.left {
	float: left;
	position: relative;	
}

.right {
	float: right;
	position: relative;	
}

#logButton {
	font-size: 16px;
	float: right;
	
}

.addMore {
	float: left;
	position: absolute;
}