h1 {
		background-color: beige;
		color: blue;
		position: static;
		text-align: center;
}

h2 {
		color : green;
}
table {
	border: 1px solid blue;
	
}

td {
	text-align: center;
}

.left {
	float: left;
	position: relative;
	
	
	
}

